.mainCard {
  margin: 50px;
}
.card {
  width: 369px;
  height: 195px;
  position: relative;
}
.line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: red;
  border-radius: 10px 10px 0px 0px;
  z-index: 2;
}
.mainDiv {
  height: 195px;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  text-align: -webkit-center;
  position: relative;
}

.button {
  margin: 10%;
  text-align: center;
}

.btnHover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-right: 12px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 100px;
  height: 32px;
}

.btnHover:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btnHover:focus {
  outline: none;
}

.content {
  margin-top: 10%;
}
.btnHover.hoverColorYes {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btnHover.hoverColorNo {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );

  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

.logo {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 2px solid rgb(239, 234, 234);
  border-radius: 28px;
  box-shadow: 0px 0px 2px 1px;
  z-index: 3;
  background: white;
  position: absolute;
  right: 44%;
  top: -15%;

  /* animation: spin 2s linear infinite; */
}
.logo:hover {
  height: 55px;
  width: 55px;
  cursor: pointer;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
